# This workflow will install PyCoSa including dependencies and run pytest
name: CI

on: [push]

jobs:
  pytest:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.12]
        pytest-specifier: ['-m "not slow"']
        include:
          - python-version: 3.8
            pytest-specifier: 'tests/test_examples.py::test_suzuki_example'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
    - name: Install dependencies
      run: |
        uv pip install --system pytest
        uv pip install --system -e .
    - name: Test with pytest
      run: |
        pytest -v -s ${{matrix.pytest-specifier}}
